* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
body{
  background-color: #333333;
}
.title{
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.gold__title {
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954
}
@import "header";
@import "about";
@import "products";